* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(206, 234, 224);
}
.container {
  width: 778px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 32px 38px;
  background-color: white;
}
.header h3 {
  color: var(--Dark, #2a2941);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}
.header p {
  color: var(--30-black, #b3b3b3);

  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 130%; /* 20.8px */
}
.img {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.sicl {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: burlywood;
}
.yuklash {
  color: var(--Mai, #5361e4);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.name span {
  color: var(--Dark, #2a2941);
  font-size: 14px;
  display: inline-block;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 8px;
}
.name .input {
  display: flex;
  width: 702px;
  height: 56px;
  padding: 18px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #e3e3e3;
}
ul {
  display: flex;
  gap: 8px;
}
ul li {
  list-style: none;
  border: 1px solid #e3e3e3;
  padding: 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s;
}
ul li:hover {
  background-color: var(--Mai, #5361e4);
}
.region {
  display: flex;
  gap: 20px;
}
.name .dav {
  display: flex;
  width: 341px;
  height: 56px;
  padding: 18px;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #e3e3e3;
}
.desc {
  resize: none;
  height: 148px;
  display: flex;
  width: 702px;
  padding: 18px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #e3e3e3;

  color: var(--Gray, #6e6d77);
  font-size: 14px;
  font-weight: 450;
}
.footer {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .btn {
  display: flex;
  width: 179.841px;
  height: 60px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  color: white;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s;
}
.orqabtn {
  background-color: red;
}
.oldbtn {
  background-color: var(--Mai, #5361e4);
}
.footer .btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
